.home-main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-main-container .home-main-body {
  background-color: #d7dcea;
  padding: 30px;
  height: 100%;
  width: 35%;
}

.home-main-container .home-main-body .bg-white {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-main-container .home-main-body .home-welcome-card {
  position: relative;
  height: 175px;
  border-radius: 10px;
  background-color: #0e47fe;
  color: #fff;
  padding: 0 20px;
}

.home-main-container .home-main-body .home-welcome-card .user-dp {
  position: absolute;
  top: -60%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.home-main-container .home-main-body .home-welcome-card .user-dp img {
  background-color: #ff0;
  border-radius: 50%;
}

.home-main-container .home-main-body .home-welcome-card .welcome-text {
  padding-top: 30%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif, serif;
}

.home-main-container .home-main-body .home-welcome-card .quiz-start-text {
  padding-top: 5%;
  font-size: 100%;
  font-family: sans-serif, serif;
}

.home-main-container .home-main-body .start-button {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.home-main-container .home-main-body .start-button button {
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif, serif;
  border-radius: 10px;
  background-color: #0e47fe;
  color: #fff;
  border: none;
}

.home-main-container .home-main-body .start-button button:hover {
  background-color: #3463fe;
  cursor: pointer;
}

@media screen and (max-width: 426px) {
  .home-main-container .home-main-body {
    height: 100%;
    width: 100%;
  }
}
